.button,a.button,button,select {
	position: relative;
	display: flex;
	outline: none;
	border: 1px solid transparent;
	border-radius: .33rem;
	text-align: center;
	text-decoration: none;
	font-weight: 500;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	transition: all .3s linear;
}

.dark-theme .button,
.dark-theme a.button,
.dark-theme button {
	background: #000;
	color: inherit;
}

.button.outline,
a.button.outline,
button.outline,
select.outline {
	border-color: #fff;
	background: transparent;
	box-shadow: none;
}

.dark-theme .button.outline,
.dark-theme a.button.outline,
.dark-theme button.outline,
.dark-theme select.outline {
	border-color: #000;
	color: inherit;
}

textarea {
	font-family: "PingFangSC-Regular", "PingFang SC", "Microsoft YaHei", Arial, Helvetica, "WenQuanYi Micro Hei", "tohoma,sans-serif";
}

input {
	outline: none;
	border-color: #fff;
	border-style:  solid;
	border-width: 1px;
	border-radius: .33rem;
	background-color: transparent;
	box-shadow: none;
	color: inherit;
}

.dark-theme input {
	border-color: #000;
}